<!DOCTYPE html>
<!--
Pagina de Erros.
-->
<html>
    <head th:replace="~{fragments/head :: head (title='SAIER | ERRO')}"></head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (home='true')}"></nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="jumbotron">
                    <img class="featurette-image img-fluid mx-auto" th:src="@{~/img/404.png}" alt="Generic placeholder image">
                    <h1 class="text-center">ERRO 404</h1>
                    <p class="text-center"><i class="far fa-frown"></i> Esta pagina não existe</p>
                    <p class="text-center">
                        <a class="btn btn-primary btn-lg" href="/home" role="button">Voltar para Home</a>                    
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </body>
</html>