<!DOCTYPE html>
<!--
Pagina de Erros.
-->
<html>
    <head th:replace="~{fragments/head :: head (title='SAIER | ERRO')}"></head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (home='true')}"></nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="jumbotron">
                    <h1 class="text-center"><i class="fas fa-tired"></i> Oops! Algo deu errado</h1>
                    <p class="text-center">
                        <a class="btn btn-primary btn-lg" href="/home" role="button">Voltar para Home</a>
                        <a class="btn btn-warning btn-lg" href="/contato" role="button"><i class="fas fa-exclamation-triangle"></i> Entrar com contato com o administrador</a> 
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </body>
</html>