<form th:fragment="formulario-login" th:action="@{/login}" method="POST" class="form-signin">
    
    <div th:if="${adminstrador}" class="alert alert-success alert-dismissible fade show" role="alert">
        <!-- Configuração Sucesso -->
        <small>
            <p>Brinquedoteca configurada com sucesso.</p>
            <p>Administrador: <strong><span th:text="${adminstrador.nome}"></span> <span th:text="${adminstrador.sobrenome}"></span></strong></p>
            <p>email: <strong><span th:text="${adminstrador.email}"></span></strong></p>
            <p>Diretorio das imagens: <strong> FUNCONALIDADE EM DESENVOLVIMENTO</strong></p>
        </small>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="fas fa-times"></i>
            </span>
        </button>
    </div>

    <div th:if="${config}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <!-- Depois de configurado -->
        <h5>O S.A.I.E.R. já foi configurado.</h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                <i class="fas fa-times"></i>
            </span>
        </button>
    </div>

    <div th:if="${param.negado}" class="alert alert-warning alert-dismissible fade show" role="alert">
        <!-- Acesso negado -->
        <strong>Acesso negado!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <hr>
        Por favor faça o login com
        outro usuario ou entre em contato com o administrador do sistema.              
    </div>

    <i style="font-size: 85pt; margin: 5pt;" class="fas fa-building efeito-relevo"></i>
    <h1 class="efeito-relevo">SAIER</h1>
    <br>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Senha" required>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Lembrar de min
        </label>
    </div>

    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Senha ou usuario invalido!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>        
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">ENTRAR</button>
    <p class="mt-5 mb-3 text-muted">Universidade Estadual de Londrina.</p>
</form>
