<th:block th:fragment="table-usuario">
    <table class="table table-sm crud-table" th:classappend="${#lists.size(pagina.content) >= 1} ? 'table-hover' : ''">
        <thead>
            <tr>
                <th class="text-center">Cargo</th>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Email</th>
                <th>Situação</th>
                <th class="text-center">
                    <a th:href="@{/usuarios/formulario}" class="btn btn-outline-success btn-sm">
                        Novo
                        <i class="fas fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${pagina.content}" th:class="${atualizado} ? (${usuario.id == atualizado.id} ? 'table-warning' : '')">
                <td class="text-center">
                    <span class="badge badge-light" th:text="${usuario.cargo.nome}"></span>
                </td>
                <td>
                    <span th:text="${usuario.nome}"></span>
                </td>
                <td>
                    <span th:text="${usuario.apelido}"></span>
                </td>
                <td>
                    <span th:text="${usuario.email}"></span>
                </td>
                <td class="text-center">
                    <span
                        class="badge"
                        th:classappend="${usuario.ativo ? 'badge-success': 'badge-danger'}"
                        th:text="${usuario.ativo ? 'Habilitado': 'Bloqueado'}">
                    </span>
                </td>
                <td class="text-center">
                    <a 
                        role="button"
                        th:href="@{/usuarios/formulario/{id}(id=${usuario.id})}"
                        class="btn btn-link text-warning">
                        <i class="fas fa-user-edit"></i>
                    </a>
                    <button 
                        type="button"
                        th:data-id="${usuario.id}"
                        th:data-nome="${usuario.nome}"
                        th:data-status="${usuario.ativo}"
                        data-toggle="modal"   
                        data-target="#modal-alternar-status-usuario"
                        class="btn"
                        th:classappend="${usuario.ativo} ? 'btn-link text-danger' : 'btn-link text-success'">
                        <i th:if="${!usuario.ativo}" class="fas fa-user-check"></i>
                        <i th:if="${usuario.ativo}" class="fas fa-user-slash"></i>
                    </button>
                </td>
            </tr>
            <tr th:if="${#lists.size(pagina.content) == 0}">
                <td colspan="5" class="text-center">
                    Nenhum usuario encontrado.
                </td>
            </tr>
        </tbody>
    </table>
</th:block>