<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{fragments/head :: head(~{::title},~{})}">
        <title>Gerenciar Sistema</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (gerenciamento='true')}"></nav>

        <h1 class="text-center text-muted">
            PAGINA DE CONFIGURACAO DO SISTEMA
        </h1>
        <!-- Javascripts -->
        <script th:replace="~{fragments/javascript :: essentials-javascript}"></script>
    </body>
</html>
