<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{fragments/head :: head(~{::title},~{::link})}">
        <title>Gerenciar Professores</title>
        <link th:replace="~{fragments/css :: gerenciamento-css}"/>
    </head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (gerenciamento='true')}"></nav>

        <h1 class="text-center text-muted">
            Professor formulario
        </h1>

        <script th:replace="~{fragments/javascript :: essentials-javascript}"></script>
        <script th:replace="~{fragments/javascript :: formularios-javascript}"></script>
    </body>
</html>
