<form th:fragment="aluno-filter">
    <div class="card shadow-sm rounded-0 mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group mb-0">
                        <div class="input-group">
                            <input
                                type="text"
                                th:value="${nome}"
                                name="nome"
                                class="form-control form-control-sm">
            
                            <div class="input-group-append">
                                <button
                                    onclick="$('input[name=nome]').val('')"
                                    class="btn btn-sm btn-outline-secondary"
                                    type="button">
            
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <small>Nome.</small>                  
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group mb-0">
                        <div class="input-group">
                            <input
                                type="text"
                                th:value="${turma}"
                                name="turma"
                                class="form-control form-control-sm">
            
                            <div class="input-group-append">
                                <button
                                    onclick="$('input[name=turma]').val('')"
                                    class="btn btn-sm btn-outline-secondary"
                                    type="button">
                                    
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <small>Turma.</small>  
                    </div>
                </div>
                <div class="col-md-2">
                    <input hidden type="text" name="page" value="0">
                    <input hidden type="text" name="size" th:value="${param.size}">
                    <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">
                            <i class="fas fa-search"></i>
                        </button>
                        <a th:href="@{/alunos/formulario}" class="btn btn-outline-success btn-block btn-sm">
                            Novo
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>