<th:block th:fragment="table-aluno">
    <table class="table table-sm table-hover crud-table">
        <thead>
            <tr>
                <th>Nome</th>
                <th class="text-center">Turma</th>
                <th class="text-center">Situação</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aluno : ${pagina.content}" th:class="${atualizado} ? (${aluno.id == atualizado.id} ? 'table-warning' : '')">
                <td><span th:text="${aluno.usuario.nome}"></span></td>
                <td class="coluna-turma">
                    <span
                        th:text="${#strings.isEmpty(aluno.turma) ? 'Não informado' : aluno.turma}">
                    </span>
                </td>
                <td class="text-center">
                    <span
                        class="badge"
                        th:classappend="${aluno.usuario.ativo ? 'badge-success': 'badge-danger'}"
                        th:text="${aluno.usuario.ativo ? 'Habilitado': 'Bloqueado'}">
                    </span>
                </td>
                <td class="text-center">
                    <a 
                        role="button"
                        th:href="@{/alunos/formulario/{id}(id=${aluno.id})}"
                        class="btn btn-link text-warning">
                        <i class="fas fa-user-edit"></i>
                    </a>
                    <button 
                        type="button"
                        th:data-id="${aluno.id}"
                        th:data-nome="${aluno.usuario.nome}"
                        th:data-status="${aluno.usuario.ativo}"
                        data-toggle="modal"   
                        data-target="#modal-alternar-status-aluno"
                        class="btn"
                        th:classappend="${aluno.usuario.ativo} ? 'btn-link text-danger' : 'btn-link text-success'">
                        <i th:if="${!aluno.usuario.ativo}" class="fas fa-user-check"></i>
                        <i th:if="${aluno.usuario.ativo}" class="fas fa-user-slash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>