<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{fragments/head :: head(~{::title},~{})}">
        <title>Contato</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (contato='true')}"></nav>
        <!-- Conteudo -->
        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Sistema de Arquitetura da Informação de Edificios Residensiais.</h2>
                    <p class="lead">
                        O SAIER é um sistema utilizado na disciplina <strong>2CIN056</strong>  Terminologia na construção de vocabularios
                        controlados para o registro terminológico dos edifícios residenciais da cidade de Londrina.
                    </p>
                    <p class="lead">
                        Este sistema foi desenvolvido pelo estudante de graduação do curso
                        de Ciência da Computação da UniFil Renato Henrique Horácio dos Santos.
                    </p>
                    <!--<p><a class="btn btn-light" href="#" role="button"><i class="fab fa-github"></i> GitHub</a></p>-->
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" th:src="@{img/edificios-lg.jpg}" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" th:src="@{img/renato.jpg}" alt="Generic placeholder image" width="140" height="140">
                    <h2>Renato Henrique</h2>
                    <p>Cursando Ciencias da Computação na UniFil.</p>
                    <h4>Cargo <i class="fas fa-code"></i></h4>
                    <p>Desenvolvedor.</p>
                    <h4>Email <i class="fas fa-envelope-square"></i></h4>
                    <p>renato.henrique_98@hotmail.com</p>
                    <h4>Contato</h4>
                    <p><i class="fab fa-github"></i> <a href="#">GitHub</a> <i class="fab fa-twitter"></i> <a href="#">Twitter</a> <i class="fab fa-linkedin"></i> <a href="#">Linkedin</a></p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/img/brigida.png" width="140" height="140" alt="Generic placeholder image">
                    <h2>Brígida Maria Nogueira Cervantes</h2>
                    <p>
                       Professora Adjunto do Departamento de Ciência da
                       Informação. <i class="fas fa-user-graduate"></i>
                    </p>
                    <p>
                        Universidade Estadual de Londrina
                    </p>
                    <h4>Email <i class="fas fa-envelope-square"></i></h4>
                    <p>brigidacervantes@gmail.com</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /FIM do Navbar -->
        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>

        <script th:replace="~{fragments/javascript :: jquery}"></script>
        <script th:replace="~{fragments/javascript :: popper}"></script>
        <script th:replace="~{fragments/javascript :: bootstrap}"></script>
    </body>
</html>