<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{fragments/head :: head(~{::title},~{})}">
        <title>SAIER | Home</title>
    </head>
    <body class="fundo-gradiente-claro">
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (home='true')}"></nav>

        <!-- Conteudo do Home -->
        <div class="container marketing">
            <div class="row featurette">
                <div class="col-md-7 espaco">
                    <h2 class="featurette-heading efeito-relevo">
                        S.A.I.E.R.
                    </h2>
                    <h5 class="titulo-sombra">
                        Sistema de Arquitetura da Informação
                        de Edificios Residensiais.
                    </h5>
                    <p class="lead text-light">
                        Este sistema, registra as nomenclaturas dos edificios
                        residenciais de Londrina.
                    </p>
                    <a class="btn btn-light btn-lg" target="_blank" href="https://github.com/Throyer/SAIER#-sistema-de-arquitetura-da-informa%C3%A7%C3%A3o-de-edificios-residenciais" role="button"><i class="fab fa-github"></i> Contribuir</a>
                </div>
                <div class="col-md-5" style="margin-top: 45pt;">
                    <img class="img-thumbnail img-fluid mx-auto"
                         th:src="@{img/londrina-lg.jpg}"
                         alt="Generic placeholder image">
                </div>
            </div>
        </div><!-- /Fim conteudo de home -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>
        <!-- javascript -->
        <script th:replace="~{fragments/javascript :: jquery}"></script>
        <script th:replace="~{fragments/javascript :: bootstrap}"></script>
    </body>
</html>
