<!DOCTYPE html>
<html>
    <head th:replace="~{fragments/head :: head(~{::title},~{})}">
        <title>Blog</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (blog='true')}"></nav>

        <!-- CONTEUDO -->
        <main role="main" class="container">

            <div class="alert alert-warning" role="alert">
                Funcionalidade em desenvolvimento.
            </div>

            <div class="row">
                <div class="col-md-8 blog-main">
                    <h3 class="pb-3 mb-4 font-italic border-bottom">
                        Novidades
                    </h3>

                    <div class="blog-post">
                        <h2 class="blog-post-title">{ Titulo }</h2>
                        <p class="blog-post-meta">{ Date time } <span>{ publicado por }</span></p>
                        <p>
                            { Conteudo da postagem }
                        </p>
                    </div><!-- /.blog-post -->

                    <div class="blog-post">
                        <h2 class="blog-post-title">New feature</h2>
                        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <ul>
                            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                            <li>Donec id elit non mi porta gravida at eget metus.</li>
                            <li>Nulla vitae elit libero, a pharetra augue.</li>
                        </ul>
                        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                    </div><!-- /.blog-post -->

                    <div class="blog-post">
                        <h2 class="blog-post-title">New feature</h2>
                        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <ul>
                            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                            <li>Donec id elit non mi porta gravida at eget metus.</li>
                            <li>Nulla vitae elit libero, a pharetra augue.</li>
                        </ul>
                        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
                    </div><!-- /.blog-post -->

                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-lg justify-content-center">
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                    </nav>

                </div><!-- /.blog-main -->

                <aside class="col-md-4 blog-sidebar">
                    <div class="p-3 mb-3 bg-light rounded">
                        <h4 class="font-italic">Blog</h4>
                        <p class="mb-0">Atualizado pelos professores.</p>
                    </div>

                    <div class="p-3">
                        <h4 class="font-italic">Arquivo</h4>
                        <ol class="list-unstyled mb-0">
                            <li><a href="#">Junho 2018</a></li>
                            <li><a href="#">Julho 2018</a></li>
                        </ol>
                    </div>

                    <div class="p-3">
                        <h4 class="font-italic">Redes sociais</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ol>
                    </div>
                </aside><!-- /.blog-sidebar -->

            </div>

        </main><!-- /FIM DO CONTEUDO -->
        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>
        <!-- Javascripts -->
        <script th:replace="~{fragments/javascript :: essentials-javascript}"></script>
    </body>
</html>
