<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head (title='SAIER - Relatorios')}"></head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (relatorios='true')}"></nav>
        <!-- Graficos  -->
        <div class="container">
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

            <canvas id="bar-chart" width="800" height="450"></canvas>

            <canvas id="line-chart" width="800" height="450"></canvas>

            <canvas id="pie-chart" width="800" height="450"></canvas>
        </div>
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </body>
    <script th:replace="~{fragments/javascript :: jquery}"></script>
    <script th:replace="~{fragments/javascript :: bootstrap}"></script>
    <script th:replace="~{fragments/javascript :: chartjs}"></script>
    <script th:replace="~{fragments/javascript :: chartjs-config}"></script>
</html>