<table th:fragment="table-edificio" class="table table-sm table-hover crud-table">
    <thead>
        <tr>
            <th scope="col">Fonte da coleta</th>
            <th scope="col">Nome</th>
            <th scope="col">Autor</th>
            <th scope="col">Data da coleta</th>
            <th scope="col">Ações</th>
        </tr>
        <th:block th:replace="~{ views/edificio/fragments/table-specification-edificio :: table-specification-edificio }"></th:block>
    </thead>
    <tbody>
        <tr th:each="edifcio : ${pagina.content}">
            <td><span th:text="${edifcio.coleta.fonteColeta}"></span></td>
            <td><span th:text="${edifcio.nomeConhecido}"></span></td>
            <td><span th:text="${edifcio.coleta.cadastradoPor.nome}"></span></td>
            <td class="text-center"><span th:text="${#temporals.format(edifcio.cadastradoEm, 'dd/MM/yyyy')}"></span></td>
            <td>
                <div class="row justify-center">
                    <div class="col-sm-12 text-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button 
                                type="button"
                                class="btn btn-sm btn-link text-purple text-decoration-none">
                                <i class="fas fa-history"></i>
                            </button>
                            <button 
                                type="button"
                                class="btn btn-sm btn-link text-primary text-decoration-none">
                                <i class="far fa-eye"></i>
                            </button>
                            <button 
                                type="button"
                                class="btn btn-sm btn-link text-warning text-decoration-none">
                                <i class="fas fa-pen"></i>
                            </button>
                            <button 
                                type="button"
                                class="btn btn-sm btn-link text-danger text-decoration-none">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>