<th:block th:fragment="table-edificio">
    <table class="table table-sm table-hover crud-table">
        <thead>
            <tr>
                <th class="text-center">Fonte da coleta</th>
                <th>Nome fantasia</th>
                <th>Autor da coleta</th>
                <th>Data da coleta</th>
                <th class="text-center">
                    <a th:href="@{/edificios/formulario}" class="btn btn-outline-success btn-block btn-sm">
                        Novo
                        <i class="fas fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="edificio : ${pagina.content}" th:class="${atualizado} ? (${edificio.id == atualizado.id} ? 'table-warning' : '')">
                <td class="text-center"><span th:text="${edificio.coleta.fonteColetaFormatada.nome}"></span></td>
                <td><span th:text="${edificio.nomeConhecido}"></span></td>
                <td class="text-truncate"><span th:text="${edificio.coleta.cadastradoPor} ?: 'Não registrado'"></span></td>
                <td><span th:text="${#temporals.format(edificio.cadastradoEm, 'dd/MM/yyyy')} ?: 'Não registrado'"></span></td>
                <td>
                    <div class="row justify-center">
                        <div class="col-sm-12 text-center">
                            <button 
                                type="button"
                                class="btn btn-sm btn-outline-info">
                                <i class="fas fa-history"></i>
                            </button>
                            <button 
                                type="button"
                                class="btn btn-sm btn-outline-primary">
                                <i class="far fa-eye"></i>
                            </button>
                            <a 
                                role="button"
                                th:href="@{/edificios/formulario/{id}(id=${edificio.id})}"
                                class="btn btn-sm btn-outline-warning">
                                <i class="fas fa-pen"></i>
                            </a>
                            <button 
                                type="button"
                                th:data-id="${edificio.id}"
                                th:data-nome="${edificio.nomeConhecido}"
                                data-toggle="modal"   
                                data-target="#modal-deletar-edificio"
                                class="btn btn-sm btn-outline-danger">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>