<!-- O head recebe o titulo da pagina da pagina como parametro -->
<head th:fragment="head (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Titulo</title>
    <base href="/">
    <!-- Fontawesome CSS -->
    <link th:replace="~{fragments/css :: fontawesome-css}"/>
    <!-- Bootstrap CSS -->
    <link th:replace="~{fragments/css :: bootstrap-css}"/>
    <!-- SAIER CSS -->
    <link th:replace="~{fragments/css :: saier-css}"/>
</head>
