<form class="row acervo" th:fragment="acervo-filter">
    <div class="col-sm-2">
        <div class="form-group">
            <select
                name="fonteColeta"
                class="custom-select custom-select-sm">
                <option value="">Todas</option>
                <option
                    th:each="tipo : ${tipos}"
                    th:selected="${fonteColeta != null && fonteColeta.toString() == tipo.chave}"
                    th:value="${tipo.chave}"
                    th:text="${tipo.nome}">
                </option>
            </select>  
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <input
                type="text"
                th:value="${nome}"
                placeholder="Nome do edifício"
                name="nome"
                class="form-control form-control-sm">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <input
                type="text"
                th:value="${autor}"
                placeholder="Nome do autor"
                name="autor"
                class="form-control form-control-sm">   
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <input
                type="date"
                th:value="${dataColeta}"
                placeholder="Data do cadastro"
                name="dataColeta"
                class="form-control form-control-sm">      
        </div>
    </div>
    <div class="col-sm-2">
        <input hidden type="text" name="page" value="0">
        <input hidden type="text" name="size" th:value="${param.size}">
        <button type="submit" class="btn-block btn btn-sm btn-primary">
            <i class="fas fa-search"></i>
            Procurar
        </button>
    </div>
</form>