/*
Version : 11/07/2018, 03:01:53
Author  : Renato henique Horacio dos Santos.

Documento de estilo global.
Esse estilo é usado por todas as paginas do sistema.
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.espaco {
    margin-top: 98pt;
}

.conta {
    padding: 15pt;
}

.titulo-sombra {
    color: #ffffff;
    font-weight: 800;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1)
}

.fundo-gradiente-claro {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8989ba+0,8989ba+100;Purple+3D */
    background: rgb(137,137,186); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(137,137,186,1) 0%, rgba(137,137,186,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(137,137,186,1) 0%,rgba(137,137,186,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 ); /* IE6-9 */
}


/* Espaço para o navbar */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;

    min-height: 25rem;
    padding-top: 4.5rem;

    /* Margin bottom by footer height */
    margin-bottom: 5rem;
}

.navbar {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.erro { text-shadow: 50px 50px 50px rgb(255, 255, 255); }
.erro-titulo { font-size: 220pt; }
.erro-texto { font-size: 30pt; }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.efeito-relevo {
    color: #ffffff;
    font-size: 6vw;
    font-weight: 800;
    text-shadow: 0 1px 0 #ccc, 
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}

.fundo-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d6d6d6+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}