<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head (title='SAIER | Contato')}"></head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (contato='true')}"></nav>
        <!-- Conteudo -->
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">Edificio</strong>
                            <h3 class="text-primary">Nome</h3>
                            <h3 class="mb-1">
                                <span class="text-dark" th:text="${edificio.nome}" href="#">Featured post</span>
                            </h3>
                            <h3 class="text-primary">Nome conhecido</h3>
                            <h3 class="mb-1">
                                <span class="text-dark" th:text="${edificio.nomeConhecido}" href="#">Featured post</span>
                            </h3>
                            <div class="mb-1">Data de construção:
                                <span class="text-muted">
                                <span th:text="${edificio.dataConstrucao} ? ( ${#dates.format(edificio.dataConstrucao, 'dd/MM/yyyy')} ) : 'Não informado'"></span>
                                </span>
                            </div>
                            <h4>Informações adicionais</h4>
                            <p class="card-text mb-auto"><span class="text-dark" th:text="${edificio.informacoes}" href="#"></span></p>
                        </div>
                        <img class="card-img-right flex-auto d-none d-lg-block rounded" width="250" height="250" th:src="@{img/foto-aqui.png}" alt="Card image cap">
                    </div>
                </div>
            </div>
            
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">Endereço</strong>
                            <h5 class="mb-1">
                                <span class="text-dark" th:text="${edificio.numero}" href="#"></span>
                            </h5>

                            <h5 class="mb-1">
                                <span class="text-dark" th:text="${edificio.cep.cep}" href="#"></span>
                            </h5>
                            
                            <h5 class="mb-1">
                                <span class="text-dark" th:text="${edificio.cep.rua}" href="#"></span>
                            </h5>
                            
                            <h5 class="mb-1">
                                <span class="text-dark" th:text="${edificio.cep.bairro}" href="#"></span>
                            </h5>
                            
                            <h5 class="mb-1">
                                <span class="text-dark" th:text="${edificio.cep.cidade}" href="#"></span>
                            </h5>
                            
                            <h5 class="mb-1">
                                <span class="text-dark" th:text="${edificio.cep.estado}" href="#"></span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">Coleta dos dados</strong>
                            <h3 class="mb-1">
                                <span class="text-dark" th:text="${edificio.nome}" href="#">Featured post</span>
                            </h3>
                            <h3 class="mb-1">
                                <span class="text-dark" th:text="${edificio.nomeConhecido}" href="#">Featured post</span>
                            </h3>
                            <div class="mb-1">Data de construção:
                                <span class="text-muted">
                                <span th:text="${edificio.dataConstrucao} ? ( ${#dates.format(edificio.dataConstrucao, 'dd/MM/yyyy')} ) : 'Não informado'"></span>
                                </span>
                            </div>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                            <a href="#">Continue reading</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-lg-block rounded" width="250" height="250" th:src="@{img/foto-aqui.png}" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </body>
    <!-- jQuery 3.3.1 -->
    <script th:replace="~{fragments/javascript :: jquery}"></script>
    <!-- Popper -->
    <script th:replace="~{fragments/javascript :: popper}"></script>
    <!-- bootstrap 4.0.1 -->
    <script th:replace="~{fragments/javascript :: bootstrap}"></script>
</html>