<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{fragments/head :: head(~{::title},~{::link})}">
        <title>Edificio | Exportar dados</title>
        <link th:replace="~{fragments/css :: gerenciamento-css}"/>
    </head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (gerenciamento='true')}"></nav>

        <div class="container-fluid">
            <div class="row">

                <!-- lado esquerdo do sidebar Edificio -->
                <nav th:replace="~{fragments/sidebars/edificio :: sidebar-edificio}">sidebar Edificio</nav>

                <!-- Lado direito do sidebar -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <h4 class="mb-3">Exportar Base de dados.</h4>

                    <!-- exportar -->
                    <div class="alert alert-warning" role="alert">
                        Funcionalidade em desenvolvimento
                    </div>

                    <a role="button" href="/getPDF" class="btn btn-light">
                        <i class="fas fa-database"></i>
                        Exportar a base para pdf
                    </a>

                </main>
            </div>    
        </div>

        <script th:replace="~{fragments/javascript :: jquery}"></script>
        <script th:replace="~{fragments/javascript :: popper}"></script>
        <script th:replace="~{fragments/javascript :: bootstrap}"></script>
    </body>
</html>