<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/fragments :: head (title='Edificio | Exportar dados')}"></head>
    <body>
        <!-- Navbar -->
        <nav th:replace="~{fragments/navbar :: navbar (gerenciamento='true')}"></nav>

        <!-- Estilo Gerenciamento -->
        <link th:replace="~{fragments/css :: gerenciamento-css}"/>

        <!-- Estilo Formulario -->
        <link th:replace="~{fragments/css :: formulario-css}"/>

        <div class="container-fluid">
            <div class="row">

                <!-- lado esquerdo do sidebar Edificio -->
                <nav th:replace="~{fragments/fragments :: sidebar-edificio}">sidebar Edificio</nav>

                <!-- Lado direito do sidebar -->
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <h4 class="mb-3">Exportar Base de dados.</h4>

                    <!-- ler csv -->
                    <h2>Funcionalidade em desenvolvimento.</h2>

                </main>
            </div>    
        </div>
    </body>

    <!-- jQuery 3.3.1 -->
    <script th:replace="~{fragments/javascript :: jquery}"></script>

    <!-- Popper -->
    <script th:replace="~{fragments/javascript :: popper}"></script>

    <!-- bootstrap 4.0.1 -->
    <script th:replace="~{fragments/javascript :: bootstrap}"></script>

    <!-- Validate -->
    <script th:replace="~{fragments/javascript :: validate}"></script>

    <!-- popover -->
    <script th:replace="~{fragments/javascript :: popover}"></script>
</html>